<h1>Rotten Mangoes</h1>

<%= form_tag(movies_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :title, params[:title], placeholder: "Search Title" %>
  <%= text_field_tag :category, params[:category], placeholder: "Search Category" %>
  <%= text_field_tag :director, params[:director], placeholder: "Search Director" %>
  
  <%= select_tag :runtime_select, options_for_select(['Less than 90 mins', 'Between 90 and 120 mins', 'Greater than 120 mins']), :prompt => 'No duration filter' %>

  <%= submit_tag "Search", :name => nil %>
<% end %>
<div class="actions"><%= link_to "Clear Search", movies_path %></div>


<br>
<div><%= link_to "Submit a movie!", new_movie_path %></div>
<hr>
<% @movies.each do |movie| %>
  <a href="<%= movie_path(movie) %>"><%= image_tag movie.image_url(:thumb) %></a>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3>Genre: <%= movie.category %></h3>
  <% if movie.reviews.size > 0 %>
    <h3>Avg. Rating: <%= movie.review_average %>/10</h3>
	<% else %>
    <h3>Avg. Rating: This movie does not have any reviews yet.</h3>
  <% end %>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>
<br>
<%= paginate @movies %>
<br>
<hr>
