<h1>Rotten Mangoes User List</h1>
<%= link_to "Back to Movies", movies_path %>
<% if ghost? %>
  <div>You are currently ghost viewing <%= current_user.full_name %>'s account.</div><br>
<% end %>
<hr>
<% @users.each do |user| %>
	<table class="user-panel">
  <tr>
	   <td>ID: <%= user.id %> </td>
  </tr>
  <tr>
  	 <td><strong>Name: <%= user.full_name %></strong></td>
  </tr>
  <tr>
  	 <td> Email: <%= user.email %></td>
  </tr>
  <tr>
      <td>Date Created: <%= user.created_at %></td>
  </tr>
  <tr>
      <td>Admin?: <%= user.admin %></td>
  </tr>
  <tr>
      <td class="admin-user-links">
        <%= link_to "Edit", edit_admin_user_path(user) %> |
        <%= link_to "Delete", admin_user_path(user), method: :delete, data: { 'confirm' => "Are you sure you want to delete #{user.firstname} #{user.lastname}?" } %> | 
        <% if admin? || ghost? %>
          <%= link_to 'Switch', [:switch, :admin, user], method: :put %> | 
        <% end %>
      </td>
	</tr>
  </table>
<% end %>

<div class="btn btn-warning"><%= link_to "Add a new user", new_admin_user_path %></div>
<br>
<br>
<div class="paginate-bottom"><%= paginate @users %></div>






